h1 Кнопка

h2.m-dn 1920
h2.l-dn 1366

.flex-grid
	-
		let buttons = [
			{title: 'no-icon/accent/normal', button: {title: 'Кнопка'}},
			{title: 'no-icon/accent/on-hover', button: {title: 'Кнопка', isHover: true}},
			{title: 'no-icon/accent/disable', button: {title: 'Кнопка', isDisabled: true}},
			{title: 'no-icon/accent-alt/normal', button: {title: 'Кнопка', theme: 'alt'}},
			{title: 'no-icon/accent-alt/on-hover', button: {title: 'Кнопка', theme: 'alt', isHover: true}},
			{title: 'no-icon/accent-alt/disable', button: {title: 'Кнопка', theme: 'alt', isDisabled: true}},
			{title: 'no-icon/secondary/normal', button: {title: 'Кнопка', theme: 'secondary'}},
			{title: 'no-icon/secondary/on-hover', button: {title: 'Кнопка', theme: 'secondary', isHover: true}},
			{title: 'no-icon/secondary/disable', button: {title: 'Кнопка', theme: 'secondary', isDisabled: true}},
			{title: 'no-icon/ghost/normal', button: {title: 'Кнопка', theme: 'ghost'}},
			{title: 'with-icon/accent/normal', button: {title: 'Кнопка', icon: 'close'}},

		]

	each button in buttons
		+showcase({type: "button", data: button})