h1 Кнопка
h2.m-dn 1920
h2.l-dn 1366
.flex-grid
	+showcase({
		type: 'button',
		data: {
			title: 'no-icon/accent/normal',
		}
	})
		button.button Кнопка
	+showcase({
		type: 'button',
		data: {
			title: 'no-icon/accent/on-hover',
		}
	})
		button.button.button_hover Кнопка
	+showcase({
		type: 'button',
		data: {
			title: 'no-icon/accent/disable',
		}
	})
		button.button(disabled) Кнопка
	+showcase({
		type: 'button',
		data: {
			title: 'no-icon/accent-alt/normal',
		}
	})
		button.button.button_theme_alt Кнопка
	+showcase({
		type: 'button',
		data: {
			title: 'no-icon/accent-alt/on-hover',
		}
	})
		button.button.button_theme_alt.button_hover Кнопка
	+showcase({
		type: 'button',
		data: {
			title: 'no-icon/accent-alt/disable',
		}
	})
		button.button.button_theme_alt(disabled) Кнопка
	+showcase({
		type: 'button',
		data: {
			title: 'no-icon/secondary/normal',
		}
	})
		button.button.button_theme_secondary Кнопка
	+showcase({
		type: 'button',
		data: {
			title: 'no-icon/secondary/on-hover',
		}
	})
		button.button.button_theme_secondary.button_hover Кнопка
	+showcase({
		type: 'button',
		data: {
			title: 'no-icon/secondary/disable',
		}
	})
		button.button.button_theme_secondary(disabled) Кнопка
	+showcase({
		type: 'button',
		data: {
			title: 'no-icon/ghost/normal',
		}
	})
		button.button.button_theme_ghost Кнопка
	+showcase({
		type: 'button',
		data: {
			title: 'with-icon/accent/normal',
		}
	})
		button.button.button_icon.button_icon_close Кнопка