h1 Иконки (сервисные)
.flex-grid
	+showcase({
		type: "icon",
		data: {
			title: "search"
		}
	})
	+showcase({
		type: "icon",
		data: {
			title: "search-small",
			brake: 2
		}
	})
	+showcase({
		type: "icon",
		data: {
			title: "bookmark"
		}
	})
	+showcase({
		type: "icon",
		data: {
			title: "notification"
		}
	})
	+showcase({
		type: "icon",
		data: {
			title: "hide-notification",
			brake: 2
		}
	})
	+showcase({
		type: "icon",
		data: {
			title: "download"
		}
	})
	+showcase({
		type: "icon",
		data: {
			title: "external-link",
			brake: 2
		}
	})
	+showcase({
		type: "icon",
		data: {
			title: "eye-opened",
			brake: 1
		}
	})
	+showcase({
		type: "icon",
		data: {
			title: "eye-closed",
			brake: 1
		}
	})
	+showcase({
		type: "icon",
		data: {
			title: "qa"
		}
	})
	+showcase({
		type: "icon",
		data: {
			title: "doc-icon",
			brake: 2
		}
	})
	+showcase({
		type: "icon",
		data: {
			title: "pdf-icon",
			brake: 2
		}
	})
	+showcase({
		type: "icon",
		data: {
			title: "settings",
			brake: 1
		}
	})
	+showcase({
		type: "icon",
		data: {
			title: "more-horizontal"
		}
	})
	+showcase({
		type: "icon",
		data: {
			title: "delete",
			brake: 1
		}
	})
	+showcase({
		type: "icon",
		data: {
			title: "history",
			brake: 2
		}
	})
	+showcase({
		type: "icon",
		data: {
			title: "seen",
			brake: 2
		}
	})
	+showcase({
		type: "icon",
		data: {
			title: "arrow-right",
			brake: 2
		}
	})
	+showcase({
		type: "icon",
		data: {
			title: "arrow-down",
			brake: 2
		}
	})
h1 Иконки (маркетинговые)
.flex-grid
	+showcase({
		type: "icon-adv",
		data: {
			title: "Рынок одёжного ритейла",
			icon: "clothes"
		}
	})
	+showcase({
		type: "icon-adv",
		data: {
			title: "Рынок обувного ритейла",
			icon: "boots"
		}
	})
	+showcase({
		type: "icon-adv",
		data: {
			title: "Рынок коммерческой недвижимости",
			icon: "commercial-building"
		}
	})
	+showcase({
		type: "icon-adv",
		data: {
			title: "Рынок товаров класса люкс",
			icon: "lux"
		}
	})
	+showcase({
		type: "icon-adv",
		data: {
			title: "Мероприятие",
			icon: "calendar"
		}
	})
	+showcase({
		type: "icon-adv",
		data: {
			title: "Профиль",
			icon: "profile"
		}
	})