h1 Иконки (сервисные)
.flex-grid
	-
		let icons = [
			{icon: "search"},
			{icon: "search-small", count: 1},
			{icon: "bookmark"},
			{icon: "notification"},
			{icon: "hide-notification", count: 1},
			{icon: "download"},
			{icon: "external-link", count: 1},
			{icon: "eye-opened", count: 2},
			{icon: "eye-closed", count: 2},
			{icon: "qa"},
			{icon: "doc-icon", count: 1},
			{icon: "pdf-icon", count: 1},
			{icon: "settings", count: 2},
			{icon: "more-horizontal"},
			{icon: "delete", count: 2},
			{icon: "history", count: 1},
			{icon: "seen", count: 1},
			{icon: "arrow-right", count: 1},
			{icon: "arrow-down", count: 1}]
	each icon in icons
		+showcase({type: "icon", data: icon})

h1 Иконки (маркетинговые)
.flex-grid
	-
		let advIcons = [
			{icon: "clothes", title: "Рынок одёжного ритейла"},
			{icon: "boots", title: "Рынок обувного ритейла"},
			{icon: "commercial-building", title: "Рынок коммерческой недвижимости"},
			{icon: "lux", title: "Рынок товаров класса люкс"},
			{icon: "calendar", title: "Мероприятие"},
			{icon: "profile", title: "Профиль"}]

	each icon in advIcons
		+showcase({type: "icon-adv", data: icon})