extends ../base/base

include ~UIKIT/showcase/showcase

block title
	| UI Kit

block page
	.template.large-screen-imitation
		.template__item.section
			include includes/fonts
		.template__item.section
			include includes/colors
		.template__item.section
			include includes/buttons
		.template__item.section
			h1 Иконки (Сервисные)
			.flex-grid
				+showcase({
					type: "icon",
					data: {
						title: "search"
					}
				})
				+showcase({
					type: "icon",
					data: {
						title: "search-small",
						brake: 2
					}
				})
				+showcase({
					type: "icon",
					data: {
						title: "bookmark"
					}
				})
				+showcase({
					type: "icon",
					data: {
						title: "notification"
					}
				})
				+showcase({
					type: "icon",
					data: {
						title: "hide-notification",
						brake: 2
					}
				})
				+showcase({
					type: "icon",
					data: {
						title: "download"
					}
				})
				+showcase({
					type: "icon",
					data: {
						title: "external-link",
						brake: 2
					}
				})
				+showcase({
					type: "icon",
					data: {
						title: "eye-opened",
						brake: 1
					}
				})
				+showcase({
					type: "icon",
					data: {
						title: "eye-closed",
						brake: 1
					}
				})
				+showcase({
					type: "icon",
					data: {
						title: "qa"
					}
				})
				+showcase({
					type: "icon",
					data: {
						title: "doc-icon",
						brake: 2
					}
				})
				+showcase({
					type: "icon",
					data: {
						title: "pdf-icon",
						brake: 2
					}
				})
				+showcase({
					type: "icon",
					data: {
						title: "settings",
						brake: 1
					}
				})
				+showcase({
					type: "icon",
					data: {
						title: "more-horizontal"
					}
				})
				+showcase({
					type: "icon",
					data: {
						title: "delete",
						brake: 1
					}
				})
				+showcase({
					type: "icon",
					data: {
						title: "history",
						brake: 2
					}
				})
				+showcase({
					type: "icon",
					data: {
						title: "seen",
						brake: 2
					}
				})
				+showcase({
					type: "icon",
					data: {
						title: "arrow-right",
						brake: 2
					}
				})
				+showcase({
					type: "icon",
					data: {
						title: "arrow-down",
						brake: 2
					}
				})
		.template__item.section
			h1 Ссылки
			.flex-grid
				+showcase({type: 'link'})