extends ../base/base

include ~UIKIT/showcase/showcase

block title
	| UI Kit

block page
	.template
		.template__item.section
			include includes/icons
		.template__item.section
			include includes/colors
		.template__item.section
			include includes/buttons
		.template__item.section
			include includes/fonts
		.template__item.section
			h1 Ссылки
			.flex-grid
				+showcase({type: "link", data: {title: 'Нормальное'}})
				+showcase({type: "link", data: {title: 'Наведение', className: 'hover'}})