extends ../base/base

block title
	| UI Kit

block page
	.template
		.template__item.section
			h1 Типография
		.template__item.section
			h1 Цвета
		.template__item.section
			h1 Кнопка
		.template__item.section
			h1 Иконки (Сервисные)
		.template__item.section
			h1 Ссылки