extends ../base/base

block title
	| UI Kit

block page
	.template
		.template__item.section
			h1 Типография
			.flex-grid.flex-grid_columns_6
				.c.flex-grid__item_width_2 1
				.c.flex-grid__item_width_3 2
				.c.flex-grid__item_width_1 3
				.c 4
				.c 5
				.c 6
				.c 7
				.c 8
				.c 9
			hr
			.flex-grid
				.flex__item
					.flex-grid.flex-grid_columns_6
						.c.flex-grid__item_width_2 1
						.c.flex-grid__item_width_3 2
						.c.flex-grid__item_width_1 3
						.c 4
						.c 5
						.c 6
						.c 7
						.c 8
						.c 9
				.flex__item
					.flex-grid.flex-grid_columns_6
						.c.flex-grid__item_width_1 1
						.c.flex-grid__item_width_1 2
						.c.flex-grid__item_width_1 3
						.c.flex-grid__item_width_3 4
						.c 5
						.c 6
						.c 7
						.c 8
						.c 9
				.h2 Some text
				.flex__item
					.flex-grid.flex-grid_columns_6
						.c.flex-grid__item_width_1 1
						.c.flex-grid__item_width_1 2
						.c.flex-grid__item_width_1 3
						.c.flex-grid__item_width_3 4
						.c 5
						.c 6
						.c 7
						.c 8
						.c 9
		.template__item.section
			h1 Цвета
		.template__item.section
			h1 Кнопка
		.template__item.section
			h1 Иконки (Сервисные)
		.template__item.section
			h1 Ссылки