extends ../base/base

include ~UIKIT/showcase/showcase

block title
	| UI Kit

block page
	.template
		.template__item.section
			include includes/fonts
		.template__item.section
			h1 Цвета
			.flex-grid
				+showcase({type: 'color'})
		.template__item.section
			h1 Кнопка
			.flex-grid
				+showcase({type: 'button'})
		.template__item.section
			h1 Иконки (Сервисные)
			.flex-grid
				+showcase({type: 'icon'})
		.template__item.section
			h1 Ссылки
			.flex-grid
				+showcase({type: 'link'})