extends ../base/base

include ~UIKIT/showcase/showcase

block title
	| UI Kit

block page
	.template
		.template__item.section
			h1 Типография
			.flex-grid
				+showcase({
					type: 'font',
					data: {
						title: 'H1',
						tag: 'h1'
					}})
					| Font Family: Graphik RBC LC
					br
					| Font Style: Semibold
					br
					| Font Size: 20px
					br
					| Line Height: 20px
					br
					| Line Height: 83%
				+showcase({
					type: 'font',
					data: {
						title: 'H2',
						tag: 'h2'
					}})
					| Font Family: Graphik RBC LC
					br
					| Font Style: Medium
					br
					| Font Size: 24px
					br
					| Line Height: 32px
					br
					| Line Height: 111%
					br
					| Letter Spacing: -2%
		.template__item.section
			h1 Цвета
			.flex-grid
				+showcase({type: 'color'})
		.template__item.section
			h1 Кнопка
			.flex-grid
				+showcase({type: 'button'})
		.template__item.section
			h1 Иконки (Сервисные)
			.flex-grid
				+showcase({type: 'icon'})
		.template__item.section
			h1 Ссылки
			.flex-grid
				+showcase({type: 'link'})