extends ../base/base

include ~UIKIT/showcase/showcase

block title
	| UI Kit

block page
	.template.large-screen-imitation
		.template__item.section
			include includes/fonts
		.template__item.section
			include includes/colors
		.template__item.section
			include includes/buttons
		.template__item.section
			h1 Иконки (Сервисные)
			include ~ROOT/img/external-link.svg

		.template__item.section
			h1 Ссылки
			.flex-grid
				+showcase({type: 'link'})