extends ../base/base
include ~FRAMEWORK/icon/icon
include ~FRAMEWORK/button/button
include ~FRAMEWORK/flex-grid/flex-grid

include ~COMMON/business-block/business-block
include ~COMMON/link-case/link-case

block title
	| Index

block page
	.template
		aside.template__sidebar.sidebar
			include includes/sidebar
		.template__page
			header.template__header.header
				include includes/header
			main.template__main.main
				include includes/main
			footer.template__footer.footer.caption.caption_light
				include includes/footer
				