.icon {
	width: 20px;
	height: 20px;
	user-select: none;
	display:flex;
	align-items:center;
	justify-content:center;
	position:relative;

	&_indicator:before {
		content: "";
		position:absolute;
		display:block;
		width: 6px;
		height: 6px;
		box-sizing:border-box;
		border: 1px solid $default-text-color;
		border-radius: 100%;
		background-color: $accent;
		top: 0;
		left: 2px;
	}
	
	&__target {
		transition: 0.2s;
		fill-opacity: 0;

		&_one, &_two, &_three {
			transition: 0.2s;
		}
	}

	&:hover, &_hover, &.icon_adv.icon_active, &.icon_adv:active {
		.icon__target {
			fill-opacity: 100;
			fill: $picked;

			&_one {
				fill: $accent
			}
			&_two {
				//#FFA458
				fill: darken(adjust-hue($accent, -13), 2.75)
			}
			&_three {
				//#FFE258
				fill: darken(adjust-hue($accent, 10), 2.75)
			}
		}
	}

	&:active, &_active {
		.icon__target {
			fill-opacity: 100;
			fill: $accent;
		}

		&.icon_adv {
			box-shadow: 0px 2px 12px rgba(34, 34, 34, 0.2);
		}
	}

	&_adv {
		width: 48px;
		height: 48px;
		border-radius: 100%;

		&.icon_indicator:before {
			width: 8px;
			height: 8px;
			border: none;
			top: 2px;
			left: 2px;
		}
	}
}