h1.header__title.heading
	a(href='#') Обувной ритейл
	span  /  
	a.heading.heading_sub(href='#') Мужская обувь
.header__toolbox.toolbox
	+icon({icon: 'search', href: '#', className: 'toolbox__item'})
	+icon({icon: 'bookmark', href: '#', className: 'toolbox__item'})
	+icon({icon: 'notification', href: '#', className: 'toolbox__item', indicator: true})