.icon-adv {
	width: 48px;
	height: 48px;
	user-select: none;
	display:flex;
	align-items:center;
	justify-content:center;
	border-radius: 100%;

	
	&__target {
		&_one, &_two, &_three {
			transition: 0.2s;
		}
	}

	&:hover, &_hover, &:active, &_active {
		.icon-adv__target {
			&_one {
				fill: $accent
			}
			&_two {
				//#FFA458
				fill: darken(adjust-hue($accent, -13), 2.75)
			}
			&_three {
				//#FFE258
				fill: darken(adjust-hue($accent, 10), 2.75)
			}
		}
	}

	&:active, &_active {
		box-shadow: 0px 2px 12px rgba(34, 34, 34, 0.2);
	}
}