//Text colors
.default-text-color {color: $default-text-color;}
.grey-darkest-color {color: $grey-darkest;}
.error-color {color: $error;}
.success-color {color: $success;}
.hover-color {color: $hover;}
.picked-color {color: $picked;}
.accent-color {color: $accent;}

//Background colors
.default-text-bg {background: $default-text-color;}
.grey-darkest-bg {background: $grey-darkest;}
.grey-darker-bg {background: $grey-darker;}
.grey-light-bg {background: $grey-light;}
.success-bg {background: $success;}
.accent-bg {background: $accent;}
.picked-bg {background: $picked;}
.hover-bg {background: $hover;}
.error-bg {background: $error;}
.white-bg {background: $white;}
.grey-bg {background: $grey;}


//Breakpoint display swithers
@media (min-width: 1366px) {
	.l-dn {display:none !important;}
}

@media (max-width: 1366px) {
	.m-dn {display:none !important;}
}