$default-text-color: #222222;
$grey-darkest: #666666;
$grey-darker: #c4c4c4;
$grey: #dddddd;
$grey-light: #f2f2f2;
$white: #FFFFFF;
$accent: #FFCC66;
$picked: #FFDD99;
$hover: #FFEECC;
$success: #6CD858;
$error: #FF533D;