@mixin body-default-text-size {
	font-size: 18px;
	line-height:26px;
}

@mixin button-default-text-size {
	font-size: 18px;
	line-height: 20px;
}

@mixin h1-default-text-size {
	font-size: 36px;
	line-height: 44px;
}

@mixin h2-default-text-size {
	font-size: 32px;
	line-height: 40px;
}

@mixin body-1366-text-size {
	font-size: 16px;
	line-height:24px;
}

@mixin button-1366-text-size {
	font-size: 14px;
	line-height: 14px;
}

@mixin h1-1366-text-size {
	font-size: 32px;
	line-height: 40px;
}

@mixin h2-1366-text-size {
	font-size: 24px;
	line-height: 32px;
}

$default-text-color: #222222;